@mixin MQ($breakpoint) {
	@media (max-width: $breakpoint) {
		@content;
	}
}

@mixin flex($direction: column, $justify: flex-start, $align: stretch) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin grid($gridSize: 200px, $gap: 1ch, $itemScale: 0.9) {
	$gridItemSize: calc($gridSize * $itemScale);
	$borderPaddingSize: calc($gridItemSize * 0.1);
	display: grid;
	grid-template-columns: repeat(auto-fill, $gridSize);
	grid-template-rows: repeat(auto-fill, $gridSize);
	grid-gap: 1ch;
	justify-content: center;

	& > * {
		@include flex(column, space-between, stretch);
		height: $gridItemSize;
		width: $gridItemSize;
		margin: auto;
		border-radius: $borderPaddingSize;
		padding: $borderPaddingSize;
	}
}
