@mixin MQ($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin flex($direction: column, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
