@use "sass:color";

$primary: rgb(255, 124, 55); // Royal Blue

$standard-background: linear-gradient(
	to bottom right,
	$primary,
	color.scale($primary, $lightness: -10%)
);

$white: #ffffff; // Brightest
$grey-0: color.scale($white, $lightness: -25%);
$grey-1: color.scale($grey-0, $lightness: -25%);
$grey-2: color.scale($grey-1, $lightness: -25%);
$grey-3: color.scale($grey-2, $lightness: -25%);
$grey-4: color.scale($grey-3, $lightness: -25%);
$black: #000000; // Darkest

// MEDIA QUERY SCREENS
$xxlarge: 1920px;
$xlarge: 1440px;
$large: 1024px;
$medium: 768px;
$small: 480px;

$nav-margin: 2.2rem;
