.nnt_things {
  @include flex(column, space-between);
  padding-top: 1rem;
  width: 95%;
  max-width: 1200px;

  &__inputs {
    @include flex(row, space-around);
  }

  &__input {
    @include flex(column, stretch);

    flex: 1;
    min-width: 1px;
    max-width: 45%;


    > input + select {
      margin-top: 1rem;
    }

    input, select {
      padding: 0.5rem;
    }
  }

  &__info {
    @include flex(row, space-around, center);
    margin: 1rem 0;

    & > * {
      flex: 1;
      min-width: 1px;
      max-width: 45%;
      margin: 0 2.5%;
    }
  }

  &__results {
    @include flex(column, flex-start, stretch);
    margin-top: 2rem;

    & > * {
      margin: 0 auto;
      width: 95%;
    }

    h3 {
      margin-bottom: 1rem;
    }

    ul > li + li {
      margin-top: 1.6rem;
    }
  }
  
  &__include-freshers-fringe {
    @include flex(row, flex-start, center);
  }
}