.nnt_things {
  @include flex(column, space-between);
  padding-top: 1rem;
  width: 95%;
  max-width: 1200px;

  &__inputs {
    @include flex(row, space-around);
  }

  &__input {
    @include flex(column, stretch);

    flex: 1;
    min-width: 1px;
    max-width: 45%;


    > input + select {
      margin-top: 1rem;
    }
  }

  &__path-item + &__path-item {
    margin-top: 1.6rem;
  }

  &__info {
    @include flex(row, space-around, center);
    margin: 1rem 0;

    & > * {
      flex: 1;
      min-width: 1px;
      max-width: 45%;
    }
  }
  
  &__include-freshers-fringe {
    @include flex(row, flex-start, center);
  }
}