.season-gen {
  width: 100%;
  display: flex;
  flex-direction: row;

  &__wrapper {
    @include flex($align: center);
  }

  &__table {
    tr:nth-child(2n+1) {
      background-color: #cccccc;
    }
    th {
      background-color: $grey-0;
      color: $white;
    }

    tr > * {
      padding: 0.5rem;
    }
  }

}
