.season {
  width: 100%;
  display: flex;
  flex-direction: row;

  &__form {
    flex: 1;
    max-width: 40%;
    fieldset {
      border: none;
      display: flex;
    }
  }

  &__input {
    width: 100%;
    input {
      width: 100%;
      flex: 1;

      [name*=title] {
        max-width: 40%;
      }
      [name*=slots] {
        max-width: 60%;
      }
    }
  }

  &__option {
    flex: 1;

    ul > li {
      margin-bottom: 1rem;
    }
  }

}
