@use "../variables" as *;

.header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $colour-primary;

  &__links {
    margin-left: auto;
    display: flex;
  }

  &__link {
    & + & {
      margin-left: 0.5rem;
    }
  }
}
