<header class="header">
  <div class="navbar">
    <!-- BIG SCREEN NAVBAR -->
    <div class="navbar__large">
      {% for n in site.data.navs %}
      <a class="header__link" href={{ n.url }}>{{ n.title }}</a>
      {% endfor %}
    </div>

    <!-- TODO: REDO SMALL SCREEN NAV -->
    <div class="navbar__small">
      <div id="nav-toggle" class="navbar__small--toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="navbar__small--list">
        <ul>
          {% for n in site.data.navs %}
          <li>
            <a class="header__link" href={{ n.url }}>
              {{ n.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>
