footer,
.footer {
  padding: 1rem;
  background-color: $grey-1;
  color: $white;
  flex: 0;
  display: flex;

  &__div {
    flex: 1;
    display: flex;
    align-items: flex-end;

    &--left {
      order: -1;
      text-align: left;
      justify-content: flex-start;
    }

    &--right {
      order: 1;
      text-align: right;
      justify-content: flex-end;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-position: outside;
    list-style: none;

    li {
      margin: 0.5rem;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  @media (max-width: $small){
    flex-direction: column;

    &__div {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }
}
