// DO NOT SET ANYTHING FOR `.active`


div[class*="__wrapper"] {
  width: 100%;
  max-width: 1280px;
}

.print-hide {
  @media print {
    display: none !important;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
