// DO NOT SET ANYTHING FOR `.active`

div[class*="__wrapper"] {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.print-hide {
  @media print {
    display: none !important;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin MQ($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// Padding and margin utility classes

$class_attr: (
  "m": "margin",
  "p": "padding",
);

$class_mod_dir: (
  "t": (
    "top",
  ),
  "r": (
    "left",
  ),
  "b": (
    "bottom",
  ),
  "l": (
    "right",
  ),
  "x": (
    "left",
    "right",
  ),
  "y": (
    "top",
    "bottom",
  ),
);

@for $var from 1 through 10 {
  // p/ms 1 through 10
  $val: #{$var / 2}rem;
  @each $class, $attr in $class_attr {
    // m for margin, p for padding

    .#{$class}-#{$var} {
      #{$attr}: $val; // Base class, all directions
    }

    @each $class_mod, $dirs in $class_mod_dir {
      // The directions
      @each $dir in $dirs {
        .#{$class}-#{$class_mod}-#{$var} {
          #{$attr}-#{$dir}: $val !important;
        }
      }
    }
  }

  .font-size-#{$var} {
    font-size: $val;
  }
}
