// DO NOT SET ANYTHING FOR `.active`

div[class*="__wrapper"] {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.print-hide {
  @media print {
    display: none !important;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin MQ($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@for $var from 1 to 10 {
  @each $class, $attr in ("m": "margin", "p": "padding") {
    $val: #{$var / 2}rem;

    @each $class_mod, $dir in ("t": "top", "b": "bottom", "r": "left", "l": "right")
    {
      .#{$class}-#{$class_mod}-#{$var} {
        #{$attr}-#{$dir}: $val;
      }
    }

    .#{$class}-#{$var} {
      #{$attr}: $val;
    }

    .#{$class}-x-#{$var} {
      #{$attr}-left: $val;
      #{$attr}-right: $val;
    }

    .#{$class}-y-#{$var} {
      #{$attr}-top: $val;
      #{$attr}-bottom: $val;
    }
  }
}
