.header {
  width: 100%;
  background: $grey-1;
  color: white;

  a {
    color: white;

    &:hover {
      color: white;
      background: $grey-0;
    }
  }

  .navbar {
    &__toggle {
      display: none;
      flex-direction: column;
      justify-content: center;
      padding-left: 0.5rem;

      span {
        width: 2rem;
        height: 2px;
        margin: 3px 0;
        background-color: white;
      }
    }

    &__list {
      display: flex;
      flex-direction: row;
      transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link {
      text-align: center;
      flex: 1;
      padding: 1rem;

      &.active {
        background-color: $grey-0;
      }
    }
  }

  @media (max-width: $small) {
    .navbar {
      &__toggle {
        display: flex;
        height: 2rem;

        &.active {
          span {
            position: relative;
            margin: 0;
            display: none;
            &:first-child {
              transform: rotate(45deg);
              display: block;
              z-index: 1;
            }

            &:nth-child(2) {
              transform: rotate(-45deg);
              display: block;
              z-index: 2;
            }
          }
        }
      }

      &__list {
        height: 0;
        flex-direction: column;
        justify-content: start;

        &.active {
          height: 100vh;
        }
      }

      &__link {
        flex: 0;
      }
    }
  }
}
