$screen-s: 576px;   // Bootstrap's
$screen-m: 768px;   // sizes for
$screen-l: 992px;   // screen
$screen-xl: 1200px; // mixins

@mixin screen_size($canvas) {
  @if $canvas == $screen-s {
    @media only screen and (max-width: $screen-s - 1) {
      @content;
    }
  } @else if $canvas == $screen-m {
    @media only screen and (max-width: $screen-m - 1) {
      @content;
    }
  } @else if $canvas == $screen-l {
    @media only screen and (max-width: $screen-l - 1) {
      @content;
    }
  } @else if $canvas == $screen-xl {
    @media only screen and (max-width: $screen-xl - 1) {
      @content;
    }
  } @else {
    @content;
  }
}


