$primary: #002366;                                    // Royal Blue

$white:   #FFFFFF;                                    // Brightest
$grey-0:  scale-color($white,  $lightness: -50%);
$grey-1:  scale-color($grey-0, $lightness: -50%);
$grey-2:  scale-color($grey-1, $lightness: -50%);
$grey-3:  scale-color($grey-2, $lightness: -50%);
$grey-3:  scale-color($grey-3, $lightness: -50%);     // Darkest

