.counter {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.5rem;

  &__counter, &__increment, &__target, &__target-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__counter {
    grid-column: span 4;
  }

  &__increment {
    grid-column: span 2;
  }

  &__target, &__target-text {
    grid-column: span 3;
  }

  &__target-text {
    justify-content: center;
    text-align: center;
  }

  &__input {
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0.5rem;
    border: 1px solid grey;
  }


  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;

    & > * {
      grid-column: span 1;
    }
  }
}