@use 'mixins' as *;

// Reset and general flexitime

html,
body,
#__nuxt {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #ffe4b2;
    overflow: auto;
    flex-grow: 1;
}

#__nuxt {
    @include container('main');

    > main {
        padding: 1rem;
        background-color: #ffffff;
        flex-grow: 1;
    }
}

p {
    margin: 0;
    padding: 0.5rem 0;
}

// @for $i from 1 through 6 {
//     h#{$i} {
//         margin: 0;
//         padding: 0.5rem 0;
//     }
// }

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

