@import 'mixins';

// Reset and general flexitime

html,
body,
#__nuxt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#__nuxt {
    @include container('*:not(nav.site-nav)');

    > *:not(nav.site-nav) {
        padding-top: 1rem;
    }
}

p {
    margin: 0;
    padding: 0.5rem 0;
}

@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;
        padding: 0.5rem 0;
    }
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

