html,
body,
#__nuxt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#__nuxt > div {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}
* {
    font-family: sans-serif;
    box-sizing: border-box;
}