@import 'mixins';
// Nav

.site-nav {
    @include container;
    --middle-orange:rgba(255,136,0); 
    --outer-orange: rgba(255,155,43);
    padding: 1rem 0;
    background: rgb(255,166,66);
    background: linear-gradient(
        var(--outer-orange) 0%,
        var(--middle-orange) 50%,
        var(--outer-orange) 100%
    ); 

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: darken($color: white, $amount: 10);
        }
    }

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__header-text {
        margin: 0;
    }

    &__nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: auto;
    }

    &__nav-link {
        & + & {
            margin-left: 1rem;
        }
    }
}

