@use "sass:color";

$primary: rgb(255, 124, 55); // Orange

$standard-background: linear-gradient(
  to bottom right,
  $primary,
  color.scale($primary, $lightness: -10%)
);


$white: #ffffff; // Brightest
$black: #000000; // Darkest

// Bootstrap utilities
$utilities: (
    "white-space": (
      property: white-space,
      values: pre-wrap pre nowrap pre-line,
    )
);
