@use '../mixins' as *;
.footer {
    @include container('.footer__inner');
    background-color: black;

    * {
        color: white
    }

    &__inner {
        padding: 1rem 0;
        @include flex($justify: space-between);
    }
}