---
title: NNT Statistics
layout: none
---

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet"
          href="style.css">
  </head>

  <body>
    {% include header.html %}
    {% include hero.html content=page.title %}
    {% assign cardClasses="card col-12" %}

    <div class="content container row" id="main-div">
      <div id="connCard" class="{{ cardClasses }}">
      </div>
      <div id="mostShowsCard" class="{{ cardClasses }}">
      </div>
      <div id="castNosCard" class="{{ cardClasses }}">
      </div>
      <div id="castCrewNosCard" class="{{ cardClasses }}">
      </div>
      <div id="showNosCard" class="{{ cardClasses }}">
      </div>
      <div id="filterCard" class="{{ cardClasses }}">
      </div>
      <div id="newNosCard" class="{{ cardClasses }}">
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>

