<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Jack Ellis</title>

    {% include head.html %}
  </head>

  <body>
    {% include header.html %}

    {% if page.title %}
    <div class="container-fluid
            row
            text-center
            align-items-center
            mx-auto
            px-auto
            mb-3
            hero"
            >
            <div class="col-12">
              <h1 class="my-auto py-auto text-white">{{ page.title }}</h1>
            </div>
    </div>
    {% endif %}

    <div class="container row mx-auto px-auto">
    {{ content }}
    </div>

    {% include footer.html %}
  </body>

</html>

