<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    {% for s in page.styles %}
    {% capture firstFour %}
    {{ s.path | slice: 0,3 }}
    {% endcapture %}
    {% unless firstFour == "http" %}
    {% capture s.path %}{{ s.path | relative_url }}{% endcapture %}
    {% endunless %}
    <link rel="stylesheet" href="{{ s.path }}">
    {% endfor %}

    {% for s in page.scripts %}
    {% capture firstFour %}
    {{ s.path | slice: 0,3 }}
    {% endcapture %}
    {% unless firstFour == "http" %}
    {% capture s.path %}{{ s.path | relative_url }}{% endcapture %}
    {% endunless %}
    <script src="{{ s.path }}"{% if s.defer %} defer{% endif %}></script>
    {% endfor %}
  </head>

  <body>
    {% include header.html %}

    {% if page.title %}
    {% include hero.html content=page.title %}
    {% endif %}

    <div id="content" class="container row {{ page.content_class }}">
      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
