---
layout: default
---

<link rel="stylesheet"
      href="{{ 'assets/css/risky_texts.css' | relative_url }}">

{% assign lastPerson = "nobody" %}

{% for t in page.texts %}


{% assign textClasses="text" %}

{% if forloop.first == true %}
{% assign colClass = "col-12" %}
{% elsif lastPerson == t.person %}
{% assign colClass = "col-12 pt-1" %}
{% elsif lastPerson != t.person %}
{% assign colClass = "col-12 pt-3" %}
{% endif %}

<div class="{{ colClass }}">
  {% if t.person == "me" %}

  {% capture textClasses %}{{ textClasses }} me{% endcapture %}

  {% unless lastPerson == t.person %}
  {% capture textClasses %}{{ textClasses }} chain-top{% endcapture %}
  {% endunless %}

  <div class="d-flex flex-row-reverse">
    <div class="{{ textClasses }}">
      {{ t.message | strip }}
    </div>
  </div>

  {% elsif t.person == "them" %}

  {% capture textClasses %}{{ textClasses }} them{% endcapture %}

  {% unless lastPerson == t.person %}
  {% capture textClasses %}{{ textClasses }} chain-top{% endcapture %}
  {% endunless %}


  <div class="d-flex flex-row">
    <div class="{{ textClasses }}">
      {{ t.message | strip }}
    </div>
  </div>

  {% elsif t.person == "time" %}
  <div class="text time text-center">
    {{ t.message | strip }}
  </div>
  {% endif %}

</div>
{% assign lastPerson = t.person %}
{% endfor %}

{% assign prevSceneN = page.scene | minus: 1 %}
{% assign nextSceneN = page.scene | plus: 1 %}

{% for rt in site.risky_texts %}
{% if rt.scene == prevSceneN %}
{% assign prevScene = rt %}
{% elsif rt.scene == nextSceneN %}
{% assign nextScene = rt %}
{% endif %}
{% endfor %}

<div class="col-3 text-left mt-3">
  {% if page.scene > 1 %}
  <a class="btn btn-primary" href="{{ prevScene.url | relative_url }}">
    Previous
  </a>
  {% endif %}
</div>
<div class="col-6 text-center">
</div>
<div class="col-3 text-right mt-3">
  {% if page.scene < site.risky_texts.size %}
  <a class="btn btn-primary" href="{{ nextScene.url | relative_url }}">
    Next
  </a>
  {% endif %}
</div>
