---
layout: default
---

<link rel="stylesheet"
      href="{{ 'assets/css/risky_texts.css' | relative_url }}">

{% assign lastPerson = "nobody" %}

{% for t in page.texts %}

{% assign textClasses="text" %}

{% if forloop.first == true %}
{% assign colClass = "col-12" %}
{% elsif lastPerson == t.person %}
{% assign colClass = "col-12 pt-1" %}
{% elsif lastPerson != t.person %}
{% assign colClass = "col-12 pt-3" %}
{% endif %}

{% capture formattedMsg %}{{ t.message | strip | newline_to_br }}{% endcapture %}

<div class="{{ colClass }}">
  {% if t.person == "me" %}

  {% capture textClasses %}{{ textClasses }} me{% endcapture %}

  {% unless lastPerson == t.person %}
  {% capture textClasses %}{{ textClasses }} chain-top{% endcapture %}
  {% endunless %}

  <div class="d-flex flex-row-reverse">
    <div class="{{ textClasses }}">
      {{ formattedMsg }}
    </div>
  </div>

  {% elsif t.person == "them" %}

  {% capture textClasses %}{{ textClasses }} them{% endcapture %}

  {% unless lastPerson == t.person %}
  {% capture textClasses %}{{ textClasses }} chain-top{% endcapture %}
  {% endunless %}


  <div class="d-flex flex-row">
    <div class="{{ textClasses }}">
      {{ formattedMsg }}
    </div>
  </div>

  {% elsif t.person == "time" %}
  <div class="text time text-center">
    {{ formattedMsg }}
  </div>
  {% endif %}

</div>
{% assign lastPerson = t.person %}
{% endfor %}

{% assign ts = site.risky_texts %}

{% assign prevSceneN = page.scene | minus: 1 %}
{% assign nextSceneN = page.scene | plus: 1 %}

{% for t in ts %}
{% if t.scene == prevSceneN %}
{% assign prevScene = t %}
{% elsif t.scene == nextSceneN %}
{% assign nextScene = t %}
{% endif %}
{% endfor %}

{% assign navClasses = "col-6 pt-5 mt-5" %}

<div class="{{ navClasses }} text-left">
  {% if page.scene > ts.first.scene %}
  <a class="btn btn-primary justify-self-left"
     href="{{ prevScene.url | relative_url }}">
    Previous
  </a>
  {% endif %}
</div>
<div class="{{ navClasses }} text-right">
  {% if page.scene < ts.last.scene %}
  <a class="btn btn-primary justify-self-right"
     href="{{ nextScene.url | relative_url }}">
    Next
  </a>
  {% endif %}
</div>
