---
layout: default
---

<link rel="stylesheet"
      href="{{ 'assets/css/risky_texts.css' | relative_url }}">

<div class="col-12">
<canvas class="align-self-center"
        id="c"
        height="640"
        width="960"
        style="border: 1px solid grey;
               justify-self: stretch;
               text-align: center">
</canvas>
</div>

{% for t in page.texts %}

{% assign lastPerson = "nobody" %}

{% assign textClasses="text" %}

{% if forloop.first == true %}
{% assign colClass = "col-12" %}
{% elsif lastPerson == t.person %}
{% assign colClass = "col-12 pt-1" %}
{% elsif lastPerson != t.person %}
{% assign colClass = "col-12 pt-3" %}
{% endif %}

<div class="{{ colClass }}">
  {% if t.person == "me" %}

  {% capture textClasses %}{{ textClasses }} me{% endcapture %}

  {% unless lastPerson == t.person %}
  {% capture textClasses %}{{ textClasses }} chain-top{% endcapture %}
  {% endunless %}

  <div class="d-flex flex-row-reverse">
    <div class="{{ textClasses }}">
      {{ t.message | strip }}
    </div>
  </div>

  {% elsif t.person == "them" %}

  {% capture textClasses %}{{ textClasses }} them{% endcapture %}

  {% unless lastPerson == t.person %}
  {% capture textClasses %}{{ textClasses }} chain-top{% endcapture %}
  {% endunless %}


  <div class="d-flex flex-row">
    <div class="{{ textClasses }}">
      {{ t.message | strip }}
    </div>
  </div>

  {% elsif t.person == "time" %}
  <div class="text time text-center">
    {{ t.message | strip }}
  </div>
  {% endif %}

</div>
{% assign lastPerson = t.person %}
{% endfor %}

{% assign prevSceneN = page.scene | minus: 1 %}
{% assign nextSceneN = page.scene | plus: 1 %}

{% for rt in site.risky_texts %}
{% if rt.scene == prevSceneN %}
{% assign prevScene = rt %}
{% elsif rt.scene == nextSceneN %}
{% assign nextScene = rt %}
{% endif %}
{% endfor %}

<div class="col-3 text-left mt-3">
  {% if page.scene > 1 %}
  <a class="btn btn-primary" href="{{ prevScene.url | relative_url }}">
    Previous
  </a>
  {% endif %}
</div>
<div class="col-6 text-center">
</div>
<div class="col-3 text-right mt-3">
  {% if page.scene < site.risky_texts.size %}
  <a class="btn btn-primary" href="{{ nextScene.url | relative_url }}">
    Next
  </a>
  {% endif %}
</div>

<script>

  function remove_px(px) {
    return parseInt(px.replace("(\d*)px/g", "\\1"));
  }

var c = document.getElementById("c"),
    canv = c.getContext("2d"),
    texts = document.getElementsByClassName("text"),
    x = 480,
    y = 12,
    font = "12px sans-serif";

for (let t of texts) {
  var pt_px = getComputedStyle(
          t.parentNode
           .parentNode
        ).getPropertyValue('padding-top'),
      pt = remove_px(pt_px),
      h_px = getComputedStyle(
          t
        ).getPropertyValue('height')
      h = 0,
      classes = t.className.split(" "),
      person = classes[1],
      message = t.textContent.trim();

  y += ((pt + h + 12)/2);

  if (c.height < y) {
    var oldCanv = canv.getImageData(0,0,c.width,c.height);
    c.height = y + 2 * (pt + h);
    canv.putImageData(oldCanv, 0, 0);
  }

  canv.font = font;

  if (person == "me") {
    canv.fillText(message, 640-canv.measureText(message).width, y);
  } else if (person == "them") {
    canv.fillText(message, 320, y);
  } else if (person == "time") {
    canv.fillText(message, 480-(canv.measureText(message).width / 2), y);
  }

  console.log(
    "Padding-Top:", pt,       "\n",
    "Height: "    , h,        "\n",
    "Person: "    , classes,   "\n",
    "Message: "   , message,  "\n",
    "Y: "         , y,        "\n",
    //"H2: "        , height
  );

  y += ((pt + h + 12)/2);

}
</script>
